<div class="row">
  <div class="col-md-4">[Photo will go here]</div>
  <div class="col-md-8">
    <h3>Name</h3>
    <p class="tagline">
    43 <i class="fa fa-heart love"></i>
    Vancouver, Canada <i class="fa fa-heart love"></i>
    Male</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h4>About Me</h4>
    <p>Text goes here</p>
  </div>
  <div class="col-md-4">
    <h4>Looking For</h4>
    <p>Long term? Travel?</p>
    
    <h4>My Details</h4>
    <p>Height, Body, Smoking, Drinking, etc.</p>
  </div>
</div>
