<h3>Welcome Home!</h3>

<p>Make a page here ...</p>

<h4>Authentication testing ...</h4>

{{#if session.isAuthenticated}}
	<a {{action 'invalidateSession'}}>Logout</a>
{{else}}
	{{#link-to 'login'}}Login{{/link-to}}
{{/if}}
