<div id="pdinfo">
<h1>Passport Date</h1>

<div id="content">

<p class="promote">One more thing ...</p>

<form>

<div class="form-horizontal">

    <div class="form-group">
  	    <label class="col-sm-4 control-label">Email</label>
  		<div class="col-sm-8 field">
		{{model.email}}
  		</div>
  	</div>
   	
    <div class="form-group">
  	    <label class="col-sm-4 control-label">Password</label>
  		<div class="col-sm-8 field">
  		{{input type="password" name="password" valueBinding="password" size="20"}}
  		</div>
  	</div>

    <div class="form-group">
  	    <label class="col-sm-4 control-label">Confirm password</label>
  		<div class="col-sm-8 field">
  		{{input type="password" name="confirm_password" valueBinding="confirm_password" size="20"}}
  		</div>
  	</div>

	<button type="submit" class="btn btn-default" {{action "setPassword"}}>Enter Site</button>

</div>

</form>

</div>
</div>