<div id="pdapp">
  <header id="header">
    <h1>Passport Date</h1>
    <h2>Find love. Anywhere in the world.</h2>
  </header>

  {{main-navigation}}

  <section id="main">
  
   {{outlet}}

  </section>

</div>

<footer id="info">
  <p>&copy; 2015 Passport Date Media Inc.</p>
</footer>
