<div class="container">
  <div class="page-header">
    <h1>Rock & Roll<small> with Passport Date</small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
          <li class="list-group-item">Frog Box by <em>Foo Bar</em>
            <span class="rating pull-right">5</span>
          </li>
          <li class="list-group-item">Flim Flam by <em>Thingee</em>
            <span class="rating pull-right">3</span>
          </li>
          <li class="list-group-item">Flubber by <em>Pew Pew</em>
            <span class="rating pull-right">4</span>
          </li>
      </ul>
    </div>
  </div>
</div>


<section id="todoapp">
  <header id="header">
    <h1>Passport Date</h1>
    <input type="text" id="new-todo" placeholder="Who do you want to love?" />
  </header>

  <section id="main">
    <ul id="todo-list">
      <li>
		<input type="checkbox" class="toggle">
        <label>{{#link-to "about"}}About{{/link-to}}</label>
      </li>
      <li>
        <input type="checkbox" class="toggle">
        <label><a href="./profile/1">First Profile</a></label><button class="destroy"></button>
      </li>
	  
	  {{#each profile as |item|}}
	    <li>
	      <input type="checkbox" class="toggle">
	      <label>{{item.firstname}}</label><button class="destroy"></button>
	    </li>
	  {{/each}}
    
	  <li>
	    <input type="checkbox" class="toggle">
	  	<label>{{outlet}}</label>
	  </li>
	
	</ul>

	
    <input type="checkbox" id="toggle-all">
  </section>

  <footer id="footer">
    <ul id="filters">
      <li>
        <a href="all" class="selected">All</a>
      </li>
      <li>
        <a href="active">Search</a>
      </li>
    </ul>

    <button id="clear-completed">
      Clear completed (1)
    </button>
  </footer>
</section>

<footer id="info">
  <p>&copy; 2015 Passport Date Media Inc.</p>
</footer>
