<div id="pdinfo">
<h1>Passport Date</h1>

<div id="content">

<p class="promote">Set your password</p>

<form>

<div class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-4 control-label">Password</label>
  	<div class="col-sm-8 field">
      {{input type="password" name="password" value=password size="20"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Confirm password</label>
  	<div class="col-sm-8 field">
  	{{input type="password" name="confirm_password" value=confirm_password size="20"}}
  	</div>
  </div>

	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-8 field">
      <button type="submit" class="btn btn-default btn-primary" {{action "setPassword"}}>
      {{#if isSendingReset}}
        <i class="fa fa-spin fa-spinner"></i> Setting password...
      {{else}}
        Set Password
      {{/if}}		  
		  </button>
		</div>
	</div>
  


</div>

</form>

</div>
</div>
